<div class="story-body scrollytelling image-stepper">


    <div id="chart-04" class="chart">
      <img src="images/mekong/mekong.jpg" id="cat1">
      <img src="images/mekong/mekong1.jpg" id="cat2">
      <img src="images/mekong/mekong2.jpg" id="cat3">
      <img src="images/mekong/mekong3.jpg" id="cat4">
      <img src="images/mekong/mekong4.jpg" id="cat5">
      <img src="images/mekong/mekong5.jpg" id="cat6">
    </div>

    <div class="steps">
        <div class="step" data-show-selector='#cat1'>
            <h2>This is some text</h2>
            <p>And we'll put a little more text here</p>
        </div>

        <div class="step" data-show-selector='#cat2'>
            <p>Here's some more text for you</p>
        </div>

        <div class="step" data-show-selector='#cat3'>
            <p>And more</p>
        </div>
        <div class="step" data-show-selector='#cat4'>
            <p>And more</p>
        </div>
        <div class="step" data-show-selector='#cat5'>
            <p>And more</p>
        </div>
        <div class="step" data-show-selector='#cat6'>
            <p>And one final overlay at the bottom</p>
        </div>
    </div>
</div>

<script src="scripts/mekong/chart-images.js"></script>
