<div class="story-body scrollytelling image-stepper">


    <div id="chart-04" class="chart">
      <img src="images/mekong/mekong.jpg" id="cat1">
      <img src="images/mekong/mekong1.jpg" id="cat2">
      <img src="images/mekong/mekong2.jpg" id="cat3">
      <img src="images/mekong/mekong3.jpg" id="cat4">
      <img src="images/mekong/mekong4.jpg" id="cat5">
      <img src="images/mekong/mekong5.jpg" id="cat6">
</div>

    <div class="steps">
        <div class="step" data-show-selector='#cat1'>
            <h2>The Mekong River</h2>
            <p>Excessive dams on the Mekong River, along with climate change, have upset one of Asia's largest ecosystems.</p>
        </div>

        <div class="step" data-show-selector='#cat2'>
            <p>When China began building dams, it changed the flow of the river, leading to extreme flooding and droughts for the countries downstream.</p>
        </div>

        <div class="step" data-show-selector='#cat3'>
            <p>An uptick in salinity in the river is forcing locals to dig deeper for drinking water.</p>
        </div>
        <div class="step" data-show-selector='#cat4'>
            <p>In the process, pockets of chemicals which release arsenic into the river and drinking water are being hit, leading to high levels of poisoning and cancer.</p>
        </div>
        <div class="step" data-show-selector='#cat5'>
            <p>In one extreme case, Van Phuc, a suburb of Hanoi, has 300 times the acceptable level of arsenic in the water.</p>
        </div>
        <div class="step" data-show-selector='#cat6'>
            <p>What was supposed to be a boon for the economy has become a mortal danger, creating climate refugees and threatening communities that have lived off this river for thousands of years.</p>
        </div>
    </div>
</div>

<script src="scripts/mekong/chart-images.js"></script>
