<div class="story-body">
   <p style="text-align: center"><img src="images/handguns-free.jpg"></p>
  <p>In the wake of every mass shooting in America comes the debate over gun control. Amidst loud choruses for or againt reform, one vital statistic hums softly unheard: the majority of gun deaths are not homicides. They're suicides.</p>
  <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/656779"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>
  <p>The largest percentage jump for both homicides and suicides with a firearm occurred between the years 2014-2016.</p>
  <p>Having access to a firearm when suicidal greatly impacts whether the attempt's outcome will be fatal or not. Over 80 percent of suicide attempts involving a gun ended up in death, significantly above other methods, according to a 2001 poll by the Centers for Disease Control and Prevention.</p>

</div>