<div class="story-body">
   <p style="text-align: center"><img src="images/handguns-free.jpg"></p>
  <h3>In the wake of every mass shooting in America comes the debate over gun control. </h3>
  <p>Amid the loud refrains for and against reform, one vital statistic whistles along, unheard: the majority of gun deaths are not homicides. They're suicides.</p>
  <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/656779"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>
  <p style="text-align: center"><p style=" font-size:0.6rem; margin: 0"><caption>The largest percentage jump for both homicides and suicides with a firearm occurred between 2014 and 2016.</caption></p></p>
  <p>This invisible data falls victim to the stigma surrounding killing oneself. "Culturally and historically, suicide has always come with a high level of shame and embarrassment," according to Lisa Gold, Georgetown University Professor of Psychiatry. </p>
  <p>Only 23 percent of Americans said suicide was the leading cause of gun death, according to a July poll by APM Research Labs.</p> 

</div>