<div class="story-body">
    <p style="text-align: center">
      <h2>Access Matters</h2>
      <p>Having access to a firearm when suicidal greatly impacts whether the attempt's outcome will be fatal or not. Over 80 percent of suicide attempts involving a gun ended up in death, significantly above other methods, according to a 2001 poll by the Centers for Disease Control and Prevention.</p>
      <p>The western United States contain a region dubbed the "suicide belt" because the rate of suicides in those states are much higher than the national average. These communitites are legislatively gun-friendly. One-third of the states that comprise the region allow permitless handgun possession, also known as "constitutional carry." </p>
      <p>According to a 2011 report by the University of Nevada, the belt is comprised of Arizona, Colorado, Idaho, Nevada, New Mexico, Oregon, and Utah, as well as two of the three states with the highest suicide rates: Montana and Wyoming. (Alaska falls into that same statistical set, but is separated by geography.)</p>
    <p style="text-align: center"><img src="images/suicide-belt.jpg"></p>
    !!! This is a picture of the CDC map !!! I am in the process of building mine !!!
    </p>
</div>