<div class="story-body">
    <p style="text-align: center">
      <h2>Social Stigma</h2>
      <p>Only 23 percent of Americans said suicide was the leading cause of gun death, according to a July poll by APM Research Labs.</p> 
      <p>Understanding the lack of public awareness requires looking beyond the polarizing gun rights debate to the social stigma attached to taking one's own life. "Culturally and historically, suicide has always come with a high level of shame and embarrassment," according to Lisa Gold, Georgetown University Professor of Psychiatry. She says that survivors feel "they’re not given permission to talk about it."</p>
    </p>
</div>