<div class="story-body">
    <h2>Veterans Are Especially At Risk</h2>
    <p> Due to a propensity towards mental health issues and familiarity with guns, veterans tend to overwhelmingly choose a firearm to commit suicide.</p>
    <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/766527"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>


 </div>