<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="index.hbs">My Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="firearms.hbs">Guns in America</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sample.hbs">Broadway</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mekong.hbs">mekong</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sandb.hbs">mekong</a>
      </li>
    </ul>
  </div>
</nav>