<div class="story-body scrollytelling">
    <h1>C H A R T * O N E</h1>
    <p>Once upon a time we built this for homework</h2>
    <p>Yes, it's pretty terrible. But we're going to turn it into responsive scrollytelling anyway.</p>

    <div id="chart-1" class="chart">
    </div>

    <div class="steps">
      <div class='step'>
        <p><strong>Requirements:</strong></p>
        <ul>
          <li>This is a story.</li>
        </ul>
      <p>It should look like <a href="assets/chart-1.mp4">this</a> when you're done.</p>
      </div>
      <div class='step'>
        <p>
          <a id="asia-step" class="step">Asia</a>
          <ul>
          <li>Hello Asia!</li>
        </ul>
        </p>
        </div>

          <div class='step'>
        <p> <a id="africa-step" class="step">Africa</a> <ul>
          <li>Check out Africa!</li>
        </ul>
        </p>
        </div>

          <div class='step'>
        <p><a id="na-step" class="step">North America</a>
        <li>North America in the house.</li>
        </ul>
        </p>
        </div>

        <div class='step'>
          <a id="low-gdp-step" class="step">Low GDP countries</a>
           <li>Low GDP countries all day, every day.</li>
        </ul>
        </p>
        </div>

        <div class='step'>
          <a id="continent-step" class="step">Color by continent</a>
           </div>
           
            <div class='step'>
          <a id="reset-step" class="step"> Reset</a>
        </div>

      </div>
    </div>
</div>

<script src="scripts/homework-15/01-chart.js"></script>
