---
headline: "Champion of Culture"
published_date: "March 01, 2016"
kicker: "michael bloomberg"
author: 
    name: "by Lily Hoagland"
---
{{!< default}}
   {{> base/navbar }}

<p>
IN 2005, CENTRAL PARK became more than a park. More than 7,500 saffron- colored fabric panels were hung over
23 miles of pathways, brightening the gloomy February landscape. Suddenly, walking around the park through “The Gates,” as the instillation was called, became an artistic experience. The two artists behind the exhibit, Christo and Jeanne-Claude, had been trying to create the exhibit since their ﬁrst proposal in 1979, but were stalled for decades. It wasn’t until New York had a mayor at its helm who was as passionate about art as he was about the city—and understood how the two were intrinsically linked— that “The Gates” became a reality.
</p>
<p>
To say Mayor Michael R. Bloomberg supports the arts is to put it mildly; since his time in ofﬁce, the city has increased   access   to   public   funding  for arts organizations and made grant processes more equitable. He has also made signiﬁcant personal contributions to cultural institutions, because he recognizes the social and economic value of community art programs. “New York City is the cultural capital of the world, and creative energy here is central to our economy, identity, and quality of life,” he told Quest. “The nonproﬁt cultural community supports  every  neighborhood of all ﬁve boroughs, and it has helped us drive tourism—and jobs—to record levels.” Skeptics have only to look at the success of “The Gates” for proof: the installation that had been in the wings for years ended up drawing an estimated four million visitors and generating $254 million for the city’s economy.
</p>
<p>
When Bloomberg appointed Kate D. Levin the cultural affairs commissioner in 2002, the Department of Cultural Affairs was an agency working with limited resources. Since then, she has helped lead the charge in making the case for culture as a sound investment and a vital part of every community. “New York is home to 1,200 cultural nonproﬁts that serve the city in  so many ways—revitalizing neighborhoods, educating residents, attracting visitors from across the globe, enhancing public  spaces, and so much more,” she explained.  
</p>
<p>
Under Levin, the Department of Cultural Affairs has become the largest arts funder in the United States. The agency has created more than one million square feet of cultural space throughout the ﬁve boroughs, is the largest provider of art supplies to New York City public schools through its Materials for the Arts program, has organized nearly 500 temporary art installations aside from “The Gates,” and commissioned 100 permanent public art projects through the Percent for Art program.
</p>
<p>
“It’s thrilling that under the visionary leadership of Mayor Bloomberg, public art has become fully integrated into the fabric of New York City,” Public Art Fund (PAF) President Susan K. Freedman told us. PAF is one of the many non- proﬁt organizations that has beneﬁted from both city support and Mayor Bloomberg personally. It was one of the recipients   of a $20 million grant from the Carnegie Corporation of New York made possible thanks to the mayor’s donation. “Whether through small neighborhood interventions or blockbuster events that have captured the imagination of residents and visitors, the public has come to anticipate outdoor exhibitions—we now have a city of more than eight million art critics.”
</p>
<p>
When the mayor leaves ofﬁce later this year, those eight million art critics should take advantage of and support the cultural institutions that have given them so much. Hopefully, whoever follows in his footsteps will continue to nourish the creative community.
Mayor Bloomberg’s legacy of a renaissance in the cultural world of New York is already cemented. His love of the arts is evident in every borough. As he told Quest, “We’ve made New York City the largest municipal arts funder in the United States, and that’s brought new life and excitement to communities across our city.” 
</p>