{{> base/navbar }}

<body>
<div id="container">
<p align="center">if (writing): {write = "something worth reading"}; </p>
<p align="center">else: {do = "something worth writing about"} </p>
</div>
<div style="font-family: 'Domine', serif">
  <p align="center">"Either write something worth reading or do something worth writing about." – Benjamin Franklin.</p>
  <p align="center">I interpreted this quote as an if/else programming statement to show how classic writing and data science can interact.</p>
  <p align="center">This is still under construction, but email me at LHH2128@GMAIL.COM for more.</p>
</div>
</body></p>