{{> base/navbar }}

<body>
<div id="container">
<p align="center">if (writing): {write = "something worth reading"}; </p>
<p align="center">else: {do = "something worth writing about"} </p>
</div>
<hr>
<div id="container">
  <p align="center">Either write something worth reading or do something worth writing about. – Benjamin Franklin.</p>
  <p align="center">I don't like Benjamin Franklin, but I thought it would be fun to interpret this quote as an 'IF' programming statement to show how classic writing and data science can interact.</p>
  <p></p>
</div>
</body></p>