{{> base/navbar }}


<div id="container">
<p align="center">if (writing): {write = "something worth reading"}; </p>
<p align="center">else: {do = "something worth writing about"} </p>
</div>
</body></p>