<style>
body {
	margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

svg {
  width: 700px;
  height: 300px;
}
.light {
	transform-origin: 15% 18%;
	transform:rotate(60deg)
}
.light {
	transform-origin: 30% 0;
	animation: 6s animate ease-in-out reverse infinite;
}

@keyframes animate {
	0% {
		transform-origin: 19% 16%;
	transform: rotate(60deg)
	}
	50% {
		transform-origin: 18% 7%;
		transform: rotate(-80deg);
	}
	100% {
		transform-origin: 19% 16%;
	transform:rotate(60deg)
	}
}
</style>


   {{> base/navbar }}



<svg viewBox="-50 0 700 300">
	<defs>  

   <clipPath id="text-1">  

    <text id="Mask" font-family="Montserrat-Black, Montserrat" font-size="100" font-weight="700" letter-spacing="50" fill="#121212">
                    <tspan x="" y="195">Lost Spaces</tspan>
                </text>

   </clipPath>  

 </defs>
//clip-path="url(#text-1)"
 <g clip-path="url(#text-1)">  
	<polygon class="light" fill="#F8F8F8" points="91.7663783 -3.51439292 176.859739 -3.51439292 234.191437 922.485607 -154.808563 887.785896"></polygon>
 </g>  
</svg>

<div class="story-body">
<p>What profit motives exist behind the empty storefronts of NYC? Aside from other contributing factors like the “Amazon effect” decimating small businesses and the chain retailers shying away from rising rents, are the economic benefits to letting these stores lie fallow so much more profitable to the landlord than allowing a new renter to move in? The city passed a bill in July to build a database to track this issue.</p></div>