
<style>

body {
  background-color: #EEEEEE;
}
h1.headline {
    font-family:'Lola', sans-serif;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 800;
}
.text-center {
    text-align:center;
}
</style>

<h1>Lily Hoagland's Magical Emporium</h1>
  <h2>In development.</h2>

<p style="text-align: center"><h3>-----NEWS-----</h3></p>
<a href="firearms.hbs">
  <div >
    <div >
      <div >
        <div >
          <i>The Unspoken Cost of Firearm Access</i>
        </div>
      </div>
      <img src="images/handguns-free.jpg" width="300" height="200">
     </div>
   </div>
</a>

<a href="mekong.hbs">
  <div >
    <div >
      <div >
        <div >
          <i>Death of the Mekong River</i>
        </div>
      </div>
      <img src="images/mekong/mekong.jpg" width="300" height="200">
     </div>
   </div>
</a>
<a href="bloomberg.hbs">
  <div >
    <div >
      <div >
        <div >
          <i>Champion of Culture</i>
        </div>
      </div>
      <img src="images/bloomberg/bloomberg.png" width="300" height="200">
     </div>
   </div>
</a>
<h3>-----GRAPHICS-----</h3>
<a href="sample.hbs">
  <div >
    <div >
      <div >
        <i>A Week on Broadway</i>
        </div>
      </div>
      <img src="images/broadway.png" width="300" height="200">
     </div>
   </div>
</a>
<h3>---ARTS & CULTURE---</h3>
<a href="morgan.hbs">
  <div >
    <div >
      <div >
        <div >
          <i>Delight in the Erudite</i>
        </div>
      </div>
      <img src="images/morgan/morgan02.jpg" width="300" height="200">
     </div>
   </div>
</a>

<a href="sandb.hbs">
  <div >
    <div >
      <div >
        <div >
          <i>Dramatic Lines for Modern Times</i>
        </div>
      </div>
      <img src="images/sandb/sandb4.png" width="300" height="200">
     </div>
   </div>
</a>

<a href="bloomberg.hbs">
  <div >
    <div >
      <div >
        <div >
          <i>Madeline and the City</i>
        </div>
      </div>
      <img src="images/madeline/madeline.png" width="300" height="200">
     </div>
   </div>
</a>
    {{> base/navbar }}
    
   

