<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet"> 
<style>

body {
  background-color: #f3f3f3;;
}

.text-center {
    text-align:center;
}
p.padding {
  padding-top: .15cm;
}
.wrapper {
  /* layout */
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.slide {
  /* layout */
  height: 100vh;
  min-width: 100vh;
  flex: 1;
  display: flex;
  /* content styling OPTIONAL*/
  align-items: center;
  justify-content: center;
  padding: 10vh;
  /* background styling */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inner {
  color: white;
  font-size: 1.3em;
}


/* Background images on each slide */

.a {
  background-color: red;
  background-image: url(https://media3.giphy.com/media/1AgjJa5aX1vmIvx8Zr/giphy.gif);
}

</style> 
<body>

<p class="padding"><h1 align="center"><i>Lily Hue</i> Hoagland</h1></p>


   {{> base/navbar }} 

<p class="padding"><h2 style="font-family: 'Special Elite', cursive;">NEWS</h2></p>
<br>
<a href="firearms.hbs">
  <div >
    <div >
      <div >
        <div >
          The Unspoken Cost of Firearm Access
        </div>
      </div>
      <img src="images/handguns-free.jpg" width="300" height="200">
     </div>
   </div>
</a>


<a href="mekong.hbs">
  <div >
    <div >
      <div >
        <div >
          Death of the Mekong River
        </div>
      </div>
      <img src="images/mekong/mekong.jpg" width="300" height="200">
     </div>
   </div>
</a>

<a href="bloomberg.hbs">
  <div >
    <div >
      <div >
        <div >
          Champion of Culture
        </div>
      </div>
      <img src="images/bloomberg/bloomberg.png" width="300" height="200">
     </div>
   </div>
</a>

<p class="padding"><h2 style="font-family: 'Special Elite', cursive;">GRAPHICS</h2></p>
<br>
<a href="sample.hbs">
  <div >
    <div >
      <div >
        A Week on Broadway
        </div>
      </div>
      <img src="images/broadway.png" width="300" height="200">
     </div>
   </div>
</a>
<a href="income.hbs">
  <div >
    <div >
      <div >
        The Middle Class
        </div>
      </div>
      <img src="images/income.png" width="300" height="200">
     </div>
   </div>
</a>
<p class="padding"><h2 style="font-family: 'Special Elite', cursive;">ARTS & CULTURE</h2></p>
<br>

<a href="judd.hbs">
  <div >
    <div >
      <div >
        <div >
          The Dimensions of Space
        </div>
      </div>
      <img src="images/judd/judd.png" width="300" height="200">
     </div>
   </div>
</a>

<a href="bloomberg.hbs">
  <div >
    <div >
      <div >
        <div >
          Madeline and the City
        </div>
      </div>
      <img src="images/madeline/madeline.png" width="300" height="200">
     </div>
   </div>
</a>

<a href="morgan.hbs">
  <div >
    <div >
      <div >
        <div >
          Delight in the Erudite
        </div>
      </div>
      <img src="images/morgan/morgan02.jpg" width="300" height="200">
     </div>
   </div>
</a>
<hr>
<p align="center">if (writing): {write="something worth reading"}; </p>
<p align="center">else: {do something worth writing about} </p>
</body>
    
   

