<head>
<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i|Spectral+SC:200,200i&display=swap" rel="stylesheet"> 
</head>

<style>

body {
  background-color: #f3f3f3;;
}

.text-center {
    text-align:center;
}
p.padding {
  padding-top: .15cm;
}
.flexcontainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

h1 {
  line-height: 1.5;
  display: inline;
  background-image: linear-gradient(
        transparent 50%,
        #eaeaea 50%,
        #cecece 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}
</style> 
<body>

<p class="padding" style="text-align: center"><h1 style="font-family: 'Old Standard TT', serif"><i>Lily Hue</i> Hoagland</h1></p>


   {{> base/navbar }} 

<p class="padding"></p><h2 style="font-family: 'Old Standard TT', serif;">NEWS</h2></p>

<a href="firearms.hbs">
  <div >
    <div >
      <div >
        <div >
          The Unspoken Cost of Firearm Access
        </div>
      </div>
      <img src="images/handguns-free.jpg" width="300" height="200">
     </div>
   </div>
</a>


<a href="mekong.hbs">
  <div >
    <div >
      <div >
        <div >
          Death of the Mekong River
        </div>
      </div>
      <img src="images/mekong/mekong.jpg" width="300" height="200">
     </div>
   </div>
</a>

<a href="bloomberg.hbs">
  <div >
    <div >
      <div >
        <div >
          Champion of Culture
        </div>
      </div>
      <img src="images/bloomberg/bloomberg.png" width="300" height="200">
     </div>
   </div>
</a>

<p class="padding"></p><h2 style="font-family: 'Old Standard TT', serif;">GRAPHICS</h2></p>

<a href="sample.hbs">
  <div >
    <div >
      <div >
        A Week on Broadway
        </div>
      </div>
      <img src="images/broadway.png" width="300" height="200">
     </div>
   </div>
</a>
<a href="income.hbs">
  <div >
    <div >
      <div >
        The Middle Class
        </div>
      </div>
      <img src="images/income.png" width="300" height="200">
     </div>
   </div>
</a>
<p class="padding"><h2 style="font-family: 'Old Standard TT', serif;">ARTS & CULTURE</h2></p>
<a href="judd.hbs">
  <div >
    <div >
      <div >
        <div >
          The Dimensions of Space
        </div>
      </div>
      <img src="images/judd/judd.png" width="300" height="200">
     </div>
   </div>
</a>

<a href="bloomberg.hbs">
  <div >
    <div >
      <div >
        <div >
          Madeline and the City
        </div>
      </div>
      <img src="images/madeline/madeline.png" width="300" height="200">
     </div>
   </div>
</a>

<a href="morgan.hbs">
  <div >
    <div >
      <div >
        <div >
          Delight in the Erudite
        </div>
      </div>
      <img src="images/morgan/morgan02.jpg" width="300" height="200">
     </div>
   </div>
</a>
<hr>
<p align="center">if (writing): {write="something worth reading"}; </p>
<p align="center">else: {do something worth writing about} </p>
</body>
    
   

