
{{!< default}}
<body>

<div class="container">

  <p style="text-align: center"><h1>Lily Hoagland's Graphical Emporium</h1></p>
  <h2>In development</h2>
    {{> base/navbar }}
    
    <a href="images/mekong/mekong.jpg">
  <div >
    <div >
      <div >
        <div >
          <i>This is the label for the link.</i>
        </div>
      </div>
</body>
