<head>
  
<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i|Spectral+SC:200,200i&display=swap" rel="stylesheet"> 

</head>


<style>

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
body {
  background-color: #f3f3f3;;
}

.container {
  float: left;
}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link {
  position: relative;
  transition: clip-path 275ms ease;
  &:hover span::before, &:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  span {
    position: relative;
    display: inline-block;
    color: blue;
    &::before {
      position: absolute;
      content: attr(data-content);
      color: $darkblue;
      text-decoration: underline;
      text-decoration-color: darkblue;
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      transition: clip-path 275ms ease;
    }
  }
}

.text-center {
    text-align:center;
}
p.padding {
  padding-top: .20cm;
}
.flexcontainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

h1 {
  text-align: center;
  line-height: 1.5;
  display: inline;
  background-image: linear-gradient(
        transparent 50%,
        #eaeaea 50%,
        #b3b3b3 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}
</style> 
<body>


<div style="text-align: center;"> 
<p class="padding"><h1><i style="font-family: 'Old Standard TT', serif">Lily</i> Hoagland</h1></p>
</div>

<div id="container">
  <p style= "text-align: center">Data journalist and reporter living in New York City.</a>



   {{> base/navbar }} 





<div id="container">
<p class="padding"><h3 style="font-family: 'Old Standard TT', serif;">NEWS</h3></p>

<p class="container"><a href="women.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/science.png" class="w3-hover-opacity" style="width:42%">
  </div>
  </a>
</p>


<p class="padding"><a href="mekong.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/mekong/mekong.jpg" class="w3-hover-opacity" style="width:42%">
  </div>
  </a>
</p>



<p class="padding"><a href="firearms.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/handguns-free.jpg" style="width:42%">
  </div>
  </a>
</p>


<p class="padding"><a href="bloomberg.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/bloomberg/bloomberg.png" style="width:42%">
  </div>
  </a>
</p>


<p class="padding"></p><h3 style="font-family: 'Old Standard TT', serif;">GRAPHICS AND GAMES</h3></p>

<p class="padding"><a href="sample.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/broadway.png" style="width:42%">
  </div>
  </a>
</p>

<p class="padding"><a href="income.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/income.png" style="width:42%">
  </div>
  </a>
</p>

<p class="padding">
<iframe src="https://itch.io/embed/518212?link_color=a795b4" width="278" height="217" frameborder="0"><a href="https://lilyhh.itch.io/baby-showdown">Baby Showdown Game by Lily H</a></iframe>
</p>

<p class="padding"><a href="flow.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/spaces.png" style="width:42%">
  </div>
  </a>
</p>


<p class="padding"><h3 style="font-family: 'Old Standard TT', serif;">ARTS & CULTURE</h3></p>
<p class="padding"><a href="judd.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/judd/judd.png"style="width:42%">
  </div>
  </a>
</p>

<p class="padding"><a href="judd.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/madeline/madeline.png" style="width:42%">
  </div>
  </a>
</p>

<p class="padding"><a href="morgan.hbs">
<div class="w3-btn w3-white w3-ripple" style="margin:0">
    <img src="images/morgan/morgan02.jpg" style="width:42%">
  </div>
  </a>
</p>
</div>

<hr>
<div id="container">
<p align="center">if (writing): {write = "something worth reading"}; </p>
<p align="center">else: {do = "something worth writing about"} </p>
</div>
</body>
    
   

