
<body>

<div class="container">

  <p style="text-align: center"><h4>Lily Hoagland's Magical Emporium</h1></p>
  <h2>In development. Both the page and the person.</h2>
    {{> base/navbar }}
    
   
</body>
