
{{!< default}}
<body>

<div class="container">

  <p style="text-align: center"><img src="images/home-page.png"></p>

  <p style="text-align: center"><h1>Lily Hoagland's Graphical Emporium</h1></p>
  <h2>With a homepage looking like it's 2013</h2>
    {{> base/navbar }}
</body>
