---
headline: "Can a Chart With Two Y Axes Actually Work"
subhead: "Let's give it a try"
published_date: "October 14, 2019"
kicker: "broadway"
author:
    name: "Lily Hoagland"
analytics": ""
---

{{!< default}}

  {{> base/navbar}}


<div class="flourish-embed" data-src="visualisation/770526"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
