---
headline: "Dramatic Lines for Modern Times"
published_date: "March 01, 2016"
kicker: "sachin & babi"
author:
    name: "Lily Hoagland"
---
{{!< default}}
<div class="story-body">
  <p style="text-align: center"><img src="images/sandb/sandb.png"></p>
  <p>Call it fashion's categorical imperative: for a special-occasion item to be perfect, it must be chic, well-made, and at a reasonable price. Often shoppers have to settle for the old "two out of three ain't bad" but, actually, the results usually are. Women end up with either something cute that falls apart, a piece with sturdy seams that even their grandmother finds dowdy, or the perfect outfit whose price tag they can't quite justify for a piece worn only once or twice.</p>
  <p> There is also increased pressure to keep updating your wardrobe thanks to this social media age of constant chronicling, trying to avoid the ever-relatable moment when you look through party pictures and realize you've trotted out the same outfit one too many times.</p>
   <p> Luckily, two designers heard the call, as if millions of voices cried out: "Chic! Well made! And reasonable priced!"</p>
   <p> Babi and Sachin Ahluwalia, creators of the label Sachin & Babi, have hit that trifecta again and again, particularly with their special-occasion dresses and evening seperates, the latter of which have been lauded as a versatile and creative way to dress up. "Because the modern girl's wardrobe is adapting to the necessity of the seperates, we find the clientele is embracing them," the two explained.</p>
    <p style="text-align: center"><img src="images/sandb/sandb1.png"></p>
  </div>