---
headline: "Make Way for Women in Sciences"
subhead: "STEM fields are attracting women, but not getting them hired"
published_date: "December 11, 2019"
kicker: "women in stem"
author:
    name: "Lily Hoagland"
analytics": ""
---

{{> base/navbar }}
{{!< default}}

<div class="story-body">
   <p style="text-align: center"><img src="images/science.png"></p>
   <p>In response to the significantly smaller number of women in the fields of science, technology, engineering and math (STEM), academia and many organizations have been trying to augment that number and combat the bias that most people associate science and math fields as “male” subjects.</p>
   <p>According to the UNESCO Institute for Statistics (UIS), in 2018 less than 30% of the world’s researchers are women. This underrepresentation in professional life does not reflect how many women are studying to join the workforce in their concentrations.</p>
    <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/1081746"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>
   <p>Another example from the Association of American Medical Colleges shows that in fact, there are more women medical students than men since 2015.</p>
    <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/1081263"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>