---
headline: "Dreams Snipped Short"
subhead: "One graph's prominence in STEM women's careers."
published_date: "December 14, 2019"
kicker: "women in stem"
author:
    name: "Lily Hoagland"
analytics": ""
---


{{!< default}}

<div class="story-body">
   <p style="text-align: center"><img src="images/science.png"></p>
   <p><h3>In spite of being a well-known problem, the fields of science, technology, engineering and math (STEM) remain battlefields for women.</h3></p>
   <p style="font-size:1.2rem">One sign of hope is that more women are choosing to get an education in these fields. This fun graph shows that since 2016, the majority of U.S. medical students are female.</p>
    <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/1098923"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>
   <p style="text-align: center"><note>To replay animation, click on 2009 and press play</note></p>
  <p style="font-size:1.2rem">But consider the data without the bells and whistles.</p>
   <p style="font-size:1.2rem">Dubbed a scissor graph, this shows a trend that women are eager to enter the medical field, despite their current minority representation in the public, academic, and private sectors.</p>
   <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/1100478"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>
   
   <p style="font-size:1.2rem">Unfortunately, within the world of women in STEM, referencing “scissor graphs” or “scissor diagrams” is shorthand for the wide gap between their careers and those of their male counterparts.</p>
    <p style="font-size:1.2rem">While female enrollment and admission for tertiary education is up, those numbers drop over the course of getting advanced degrees. They bottom out when those women look to be hired as a researcher in their field.</p><p style="font-size:1.2rem">According to the UNESCO Institute of Statistics (UIS), only 29% of researchers globally are women. The drastically smaller number of female scientists hired after their Doctoral program (or equivalent) show that–despite all of their work up until then–they have less likelihood of landing a research job in their chosen field.</p>
    <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/1081746"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>
    <p style="text-align: center"><note>The data is a population proportion, a parameter that describes a percentage value associated with a population. The degrees listed are in American terminology, but the UIS included all equivalent degrees.</note></p>
  <p style="font-size:1.2rem">Ok, you may be saying, but why has the scissor graph incorporated itself into the vernacular of gender discrimination in STEM? </p>
  <p style="text-align: center"><img src="images/scissors.png">placeholder</p>
  <p style="font-size:1.2rem">Hopefully, the more attention the problem is getting will lead to graphs that offer a less cutting future to women entering the STEM fields.</p>
  <p style="font-color:mediumaquamarine"> <a href="https://github.com/namedotnames/lhh/blob/master/README.md">GITHUB LINK</a></p>