---
headline: "Snipped Short"
subhead: "One graph's prominence in STEM women's careers."
published_date: "December 14, 2019"
kicker: "women in stem"
author:
    name: "Lily Hoagland"
analytics": ""
---

{{> base/navbar }}
{{!< default}}

<div class="story-body">
   <p style="text-align: center"><img src="images/science.png"></p>
   <p><h3>In spite of being a well-known problem, the fields of science, technology, engineering and math (STEM) remain battlefields for women.</h3></p>
   <p style="font-size: 15px">Luckily, that hasn’t stopped women from choosing to get an education in their chosen fields. This fun graph shows that since 2016, the majority of U.S. medical students have been female.</p>
    <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/1098923"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>
   <p>Another example from the Association of American Medical Colleges shows that in fact, there are more women medical students than men since 2015.</p>
    <p style="text-align: center"><div class="flourish-embed" data-src="visualisation/1081263"></div><script src="https://public.flourish.studio/resources/embed.js"></script></p>